.checkbox__item {
  display: block;
  padding-top: 14px;
  padding-bottom: 23px;
  padding-left: 64px;
  position: relative;

  &:hover {
    &::before {
      border: 2px solid $aquamarine;
    }
  }

  &:active {
    &::before {
      border: 2px solid $black--30;
    }
  }


  &::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid $gray;
    position: absolute;
    left: 0;
    top: 4px;
    cursor: pointer;

    @media #{$min-width-tablet} {
      width: 54px;
      height: 52px;
      top: 0;
      left: 22px;
    }

    @media #{$min-width-desktop} {
      left: 0;
    }
  }

  @media #{$min-width-tablet} {
    padding-left: 104px;
    padding-right: 20px;
    padding-bottom: 38px;
    width: 50%;
  }

  @media #{$min-width-desktop} {
    width: 32%;
    padding-left: 84px;
  }
}


.checkbox__label {
  color: $black;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  flex-grow: 1;

  @media #{$min-width-tablet} {
    font-size: 19px;
  }
}

.checkbox__control {
  display: none;

  &:checked + .checkbox__item::after {
    content: "";
    display: block;
    width: 23px;
    height: 11px;
    position: absolute;
    left: 10px;
    top: 14px;
    border-left: 2px solid $black;
    border-bottom: 2px solid $black;
    transform: rotate(-45deg);

    @media #{$min-width-tablet} {
      left: 36px;
      top: 14px;
      width: 28px;
      height: 17px;
    }

    @media #{$min-width-desktop} {
      left: 14px;
      top: 14px;
    }
  }
}
