.contacts{
  background-color: #ffffff;
  padding: 38px 30px;
}
.contacts__title{
  font-size: 18px;
  color: #000000;
  font-weight: bold;
  margin: 0;
}
.contacts__mail{
  text-decoration: none;
  color: #444444;
}
