.contacts {
  background-color: $white;
  padding-top: 40px;
  padding-bottom: 22px;
  position: relative;
  box-sizing: border-box;

  @media #{$min-width-desktop} {
    padding-right: 630px;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contacts__contacts-wrapper{
  margin-bottom: 40px;

  @media #{$min-width-tablet} {
    margin-bottom: 50px;
    margin-right: auto;
  }

  @media #{$min-width-desktop} {
    padding-top: 82px;
    padding-right: 0;
    margin-right: auto;
    margin-bottom: 70px;
  }
}

.contacts__title {
  font-size: 18px;
  color: $black;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 12px;

  @media #{$min-width-tablet} {
    font-size: 43px;
    line-height: 50px;
  }

  @media #{$min-width-desktop} {
    font-size: 53px;
    line-height: 57px;
    padding-left: 175px;
  }
}

.contacts__mail {
  text-decoration: none;
  color: $gray;
  padding-bottom: 5px;
}

.contacts__parameters {
  font-size: 15px;
  line-height: 30px;
  display: flex;
  flex-direction: column;

  @media #{$min-width-tablet} {
    flex-direction: row;
  }

  @media #{$min-width-desktop} {
    flex-direction: column;
    padding-left: 175px;
  }
}

.contacts__row {
  display: flex;
  padding-right: 50px;
}

.contacts__label,
.contacts__value {
  padding-top: 16px;
}

.contacts__mail {
  border-bottom: 1px solid $aquamarine-dark;

  &:hover,
  &:focus{
  color: $aquamarine-dark;
  }

  &:active {
    border-bottom: 1px solid $aqua-dark--30;
    color: $aqua-dark--30;
  }
}

.contacts__label {
  min-width: 68px;
  vertical-align: top;
}

.contacts__value {
  margin-left: 8px;
}

.contacts__write-us {
  margin-top: 38px;
  margin-bottom: 38px;

  @media #{$min-width-tablet} {
    max-width: 230px;
    margin-left: auto;
    margin-right: auto;
  }

  @media #{$min-width-desktop} {
    margin-left: 175px;
  }
}
