.copyright {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: center;

  @media #{$min-width-tablet} {
    margin-left: auto;
  }
}

.copyright__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 19px;
  line-height: 18px;
  color: $black;
  font-weight: bold;
}

.copyright__link {
  width: 30px;
  height: 30px;
  background-color: $gray;
  display: block;
  margin-left: 28px;
}
