.features-title {
  color: $aquamarine;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 16px;
  margin-top: 10px;
  margin-bottom: 10px;

  @media #{$min-width-tablet} {
    width: 21.7%;
    margin-top: 17px;
    margin-bottom: 17px;
  }

  @media #{$min-width-desktop} {
    width: 16.6%;
    padding-left: 62px;
  }
}
