.form{
  padding-left: 30px;
  padding-bottom: 55px;
  padding-right: 30px;
}
.form__text{
  font-size: 13px;
  padding-top: 20px;
  padding-bottom: 15px;
}
.form__type{
  padding-bottom: 26px;
  padding-top: 14px;
}
.form__necessary{
  font-size: 14px;
}
.form__color{
  padding-top: 9px;
  padding-bottom: 7px;
}
.form__name{
  padding-top: 18px;
}
.form__phone,
.form__e-mail{
  border: none;
  border-bottom: 2px solid $black;
  width: 100%;
  padding-bottom: 16px;
  padding-top: 8px;
  margin-bottom: 22px;
  color: $input-gray;
  font-size: 17px;
  line-height: 18px;
}
.form__phone-position{
  margin-top: 4px;
}
.form__e-mail-position{
  margin-top: 5px;
}
.form__necessary{
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}
.form__wishes{
  min-height: 142px;
  width: 100%;
  border: 2px solid $gray;
  color: $input-gray;
  font-size: 17px;
  line-height: 18px;
  box-sizing: border-box;
  padding: 15px;
}
.form__wishes-position{
  margin-top: 15px;
  margin-bottom: 5px;
}
.form__send{
  width: 100%;
  margin-top: 28px;
}
