.form {
  padding-bottom: 55px;
  display: flex;
  flex-direction: column;
}

.form__row {

  @media #{$min-width-tablet} {
    &:nth-child(odd) {
      background-color: $white;
    }

    &:nth-child(even) {
      background-color: $light-gray;
    }

    &:last-child {
      background-color: $white;
    }

  }
}

.form__row-wrapper {
  display: flex;
  flex-direction: column;

  @media #{$min-width-tablet} {
    flex-direction: row;
    justify-content: flex-start;

    &--send {
      justify-content: space-between;
    }
  }
}

.form__contact-row {

  @media #{$min-width-tablet} {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: $light-gray;
  }
}

.form__text {
  font-size: 13px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.form__type {
  padding-bottom: 26px;
  padding-top: 14px;
}

.form__color {
  padding-top: 9px;
  padding-bottom: 7px;
}

.form__name {
  padding-top: 18px;
  width: 100%;
}

.form__phone-position {
  margin-top: 4px;
}

.form__e-mail-position {
  margin-top: 5px;
}

.form__necessary {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}

.form__wishes {
  min-height: 142px;
  width: 100%;
  border: 2px solid $gray;
  color: $gray;
  font-size: 17px;
  line-height: 18px;
  box-sizing: border-box;
  padding: 15px;

  &::placeholder {
    color: $gray--30;
  }
}

.form__wishes-position {
  margin-top: 15px;
  margin-bottom: 5px;
}

.form__send {
  margin-top: 28px;
}
