.input {
  display: block;

  @media #{$min-width-tablet} {
    display: flex;
  }
}

.input__label {
  color: $black;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 8px;
  display: block;

  @media #{$min-width-tablet} {
    font-size: 19px;
    padding-right: 26px;
    padding-top: 6px;
  }
}

.input__field {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid $black;
  width: 100%;
  padding-bottom: 16px;
  padding-top: 8px;
  margin-bottom: 21px;
  font-size: 17px;
  line-height: 18px;

  &--phone,
  &--mail {
    color: $gray;
  }

  &::placeholder {
    color: $gray--30;
    font-size: 17px;
    line-height: 18px;

    @media #{$min-width-tablet} {
      font-size: 19px;
    }
  }

  &:hover,
  &:focus {
    border-bottom: 2px solid $aquamarine;
  }

  &:active {
    border-bottom: 2px solid $aquamarine;
    color: $gray;
  }

  &--phone,
  &--mail {
    padding-top: 14px;
    padding-bottom: 16px;
  }

  @media #{$min-width-tablet} {
    padding-left: 16px;
    padding-bottom: 16px;
    padding-top: 6px;
    margin-bottom: 34px;
    height: 42px;


    &--phone,
    &--mail {
      margin-bottom: 24px;
      padding-bottom: 16px;
      padding-top: 16px;
      height: 52px;
    }
  }
}
