.main-nav{
  background: $white;
}
.main-nav__list{
  display: block;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.main-nav__top{
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
}
.main-nav__item{
  display: block;
  list-style: none;
  padding-top: 28px;
  padding-right: 40px;
  padding-bottom: 28px;
  padding-left: 70px;
}
.main-nav__link{
  text-decoration: none;
  color: $black;
  font-weight: bold;
  font-size: 17px;
}
