.map {
  min-height: 457px;
  background-color: $middle-gray;
  background-image: url("../img/map-mobile@1x.jpg");
  background-size: 322px auto;
  display: block;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
    background-size: cover;
  }

  @media #{$min-width-tablet} {
    background-size: 768px auto;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
      background-size: cover;
    }
  }

  @media #{$min-width-desktop} {
    width: 525px;
    position: absolute;
    right: 100px;
    top: 70px;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
      background-size: 525px auto;
    }
  }
}
