.map {
  min-height: 457px;
  background-color: $middle-gray;
  background-image: url("../img/map-mobile@1x.jpg");
  background-size: 322px auto;
  display: block;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
    background-size: cover;
  }

  @media #{$min-width-tablet} {
    background-image: url("../img/map-tablet@1x.jpg");
    background-size: 768px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
      background-size: cover;
    }
  }

  @media #{$min-width-desktop} {
    width: 525px;
    position: absolute;
    right: 50px;
    top: 72px;
    background-image: url("../img/map-desktop@1x.jpg");
    background-size: 525px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}
