.map {
  min-height: 457px;
  background-color: $middle-gray;
  background-image: url("../img/map-mobile@1x.jpg");
  background-size: contain;
  display: block;

  @media #{$min-width-desktop} {
    position: absolute;
    width: 525px;
    right: 100px;
    top: 70px;
  }
}
