.modal__show {
  display: flex;
}

.modal__overlay-show {
  display: block;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: $white--90;
  z-index: 8;
}

.modal {
  position: fixed;
  top: 25%;
  left: 0;
  min-height: 338px;
  width: 100%;
  background-color: $white;
  padding-top: 30px;
  padding-bottom: 46px;
  flex-direction: column;
  border-top: 1px solid $modal-border;
  border-bottom: 1px solid $modal-border;
  box-shadow: 0 5px 10px $black--25;
  z-index: 15;

  @media #{$min-width-tablet} {
    width: 568px;
    border: 1px solid $modal-border;
    padding-left: 108px;
    padding-right: 108px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media #{$min-width-desktop} {
    left: 50%;
    transform: translateX(-50%);
  }
}

.modal__container {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin-left: auto;
  margin-right: auto;

  @media #{$min-width-tablet} {
    width: 354px;
  }
}

.modal__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: $black;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;

  @media #{$min-width-tablet} {
    font-size: 30px;
    line-height: 57px;
  }
}

.modal__text {
  font-size: 15px;
  line-height: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 24px;
  padding-bottom: 24px;

  @media #{$min-width-tablet} {
    padding-top: 20px;
    font-size: 17px;
  }
}

.modal__sizes {
  display: flex;
  flex-direction: column;
}

.modal__radio-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}

.modal__size-item {
  height: 52px;
  width: 31.5%;
  border: 2px solid $gray--10;
  text-align: center;
  line-height: 50px;

  &:hover {
    border: 2px solid $gray--30;
  }

  &:active {
    border: 2px solid $aquamarine;
  }
}

.modal__size-control {
  display: none;

  &:checked + .modal__size-item {
    border: 2px solid $aquamarine;
  }
}

.modal__size-label {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.modal__add {
  color: $white;
  background-color: $aquamarine;
  border: 2px solid $aquamarine;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 38px;
  padding-right: 38px;
  display: block;
  text-align: center;

  &:active {
    color: $white--30;
  }
}

.modal__open {
  cursor: pointer;
}
