.page-title {
  font-weight: bold;
  color: $black;
  font-size: 27px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;

  @media #{$min-width-tablet} {
    font-size: 43px;
    line-height: 50px;
  }

  @media #{$min-width-desktop} {
    font-size: 53px;
    line-height: 57px;
  }
}
