.page-footer {
  background-color: $page-main;
  padding-top: 15px;
  padding-bottom: 15px;

  @media #{$min-width-tablet} {
    padding-bottom: 30px;
  }

  @media #{$min-width-desktop} {
    padding-bottom: 30px;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  @media #{$min-width-tablet} {
    flex-direction: row;
  }
}

.page-footer__logo {
  display: none;

  @media #{$min-width-tablet} {
    display: block;
    margin-right: auto;
    padding-top: 38px;
  }
}

.page-footer__logo-link {
  font-size: 0;
  line-height: 0;
  color: $black;

  &:hover {
    color: $aquamarine;
  }

  &:active {
    color: $aquamarine--30;
  }
}
