.page-top {
  min-height: 178px;
  background-color: $page-main;
  display: flex;
  padding-top: 72px;
  padding-bottom: 76px;
  box-sizing: border-box;

  @media #{$min-width-tablet} {
    padding-top: 96px;
    padding-bottom: 90px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 110% auto;
  }

  @media #{$min-width-desktop} {
    padding-top: 94px;
    padding-bottom: 122px;
  }
}
