.product-list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  @media #{$min-width-tablet} {
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media #{$min-width-tablet} {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
  }
}

.product-list__item {
  min-height: 103px;
  padding-left: 30px;
  padding-top: 26px;
  padding-bottom: 26px;
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;

  &:nth-child(odd) {
    background-color: $aquamarine;
  }

  &:nth-child(even) {
    background-color: $aquamarine-darker;
  }

  @media #{$min-width-tablet} {
    flex-grow: 1;
    min-height: 118px;
    padding-left: 36px;
  }
}

.product-list__title {
  color: #ffffff;
  font-size: 19px;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 140px;

  @media #{$min-width-tablet} {
    font-size: 20px;
    line-height: 30px;
  }
}

.product-list__wrapper {
  @media #{$min-width-tablet} {
    padding-left: 50px;
    padding-right: 50px;
  }
}
