.products {
  padding-top: 29px;
  display: flex;
  flex-direction: column;

  @media #{$min-width-tablet} {
    padding-top: 82px;
  }

  @media #{$min-width-desktop} {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 130px;
  }
}
