.product {
  border: 1px solid $middle-gray;
  margin-bottom: 29px;
  display: flex;
  flex-direction: column;

  @media #{$min-width-tablet} {
    flex-direction: row;
  }

  @media #{$min-width-desktop} {
    flex-direction: column;
    width: 30%;
    margin-right: 4.8%;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.product__about-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-right: 24px;
  padding-left: 24px;

  @media #{$min-width-tablet} {
    justify-content: space-between;
  }
}

.product__image {
  @media #{$min-width-tablet} {
    height: 100%;
  }
}

.product__name {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 6px;
  font-weight: bold;
  font-size: 17px;

  &:hover {
    color: $black--60;
  }

  &:active {
    color: $black--30;
  }
}

.product__link {
  text-decoration: none;
  color: $black;
}

.product__features {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 30px;
}

.product__item-price {
  border-top: 1px solid $light-gray;
  padding-top: 24px;
  padding-bottom: 24px;
}

.product__price {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  color: $black;
}
