.product-list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;

  @media #{$min-width-tablet} {
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media #{$min-width-tablet} {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
  }
}

.product-list__item {
  min-height: 103px;
  padding-left: 30px;
  padding-top: 24px;
  padding-bottom: 16px;
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  color: $aquamarine-darker--50;

  &:hover {
    color: $aquamarine-darker--70;
  }

  &:active {
    color: $aquamarine-darker--30;
  }

  &:nth-child(odd) {
    background-color: $aquamarine;
  }

  &:nth-child(even) {
    background-color: $aquamarine-dark-item;
  }

  &--decor {
    padding-right: 35px;
  }

  &--toy {
    padding-right: 27px;
  }

  @media #{$min-width-tablet} {
    flex-grow: 1;
    min-height: 128px;
    padding-left: 36px;
    width: 50%;
    padding-top: 28px;

    &--decor {
      padding-right: 36px;
    }

    &--toy {
      padding-right: 33px;
    }
  }

  @media #{$min-width-desktop} {
    min-height: 138px;

    &--decor {
      padding-right: 36px;
    }

    &--toy {
      padding-right: 35px;
    }
  }
}

.product-list__title {
  color: $white;
  font-size: 19px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  max-width: 140px;

  &:active {
    color: $white--30;
  }

  @media #{$min-width-tablet} {
    font-size: 20px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.product-list__wrapper {
  @media #{$min-width-tablet} {
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
  }
}
