.production {
  padding-top: 24px;
  padding-bottom: 30px;
  border: 1px solid $middle-gray;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;

  @media #{$min-width-tablet} {
    padding-top: 0;
    padding-bottom: 42px;
  }

  @media #{$min-width-desktop} {
    flex-wrap: wrap;
    max-height: 456px;
  }
}

.production__top {

  @media #{$min-width-tablet} {
    order: 2;
  }
}

.production__video {

  @media #{$min-width-tablet} {
    order: 1;
    margin-bottom: 38px;
    width: 100%;
    min-height: 456px;
    background-size: contain;
    background-color: $light-gray;
  }

  @media #{$min-width-desktop} {
  width: 682px;
  }
}

.production__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $black;
}

.production__top {
  padding-bottom: 24px;
  padding-left: 90px;
  padding-right: 30px;
}

.production__text {
  padding-top: 20px;
  padding-bottom: 26px;
  padding-left: 34px;
  padding-right: 34px;

  @media #{$min-width-tablet} {
    order: 3;
    padding-left: 42px;
    padding-right: 42px;
  }

  @media #{$min-width-desktop} {
    width: 32%;
  }
}

.production__buy-button {
  display: block;
  margin-left: 34px;
  margin-right: 34px;
  box-sizing: border-box;
  text-align: center;
  padding-right: 25px;
  padding-left: 25px;

  @media #{$min-width-tablet} {
    margin-left: 42px;
    margin-right: 42px;
    order: 4;
  }
}
