.social {
  font-size: 0;
  line-height: 0;
  display: flex;
  padding-top: 10px;
  padding-bottom: 25px;
  border-bottom: 1px solid $middle-gray;

  .social__content {
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }

  @media #{$min-width-tablet} {
    border-bottom: none;
    padding-top: 44px;
    padding-bottom: 10px;
    padding-left: 90px;
  }
}

.social__link {
  width: 30px;
  height: 30px;
  background-color: $gray;
  display: block;
  margin-left: 15px;
  margin-right: 15px;
}
