$white: #ffffff;
$black: #000000;
$gray: #444444;
$light-gray: #f1f1f1;
$middle-gray: #e5e5e5;
$half-gray: #8d8d8d;
$input-gray: #b2b2b2; /*Знаю, что надо называть по цвету, но фантазия на оттенки серого закончилась*/
$aquamarine: #63d1bb;
