.week-product {
  background-color: $white;
  padding-top: 22px;
  padding-bottom: 38px;
  position: relative;

  @media #{$min-width-desktop} {
    padding-left: 275px;
  }
}

.week-product__title-group {

  @media #{$min-width-tablet} {
    display: flex;
    justify-content: space-between;
  }
}

.week-product__description-group {
  @media #{$min-width-tablet} {
    padding-right: 378px;
  }

  @media #{$min-width-desktop} {
    padding-right: 578px;
  }
}
.week-product__type {
  font-size: 25px;
  line-height: 30px;
  color: $black;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 6px;
  padding-top: 6px;
}

.week-product__title {
  font-size: 17px;
  line-height: 20px;
  color: $aquamarine;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 6px;

  @media #{$min-width-tablet} {
    padding-right: 26px;
    padding-left: 26px;
    margin-top: auto;
    margin-bottom: 6px;
    max-width: 126px;
    text-align: center;
  }

  @media #{$min-width-desktop} {
    position: absolute;
    left: 120px;
    top: 30px;
  }
}

.week-product__price {
  font-weight: bold;
  text-align: center;
  margin-bottom: 26px;
  margin-top: 0;
}

.week-product__description {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 16px;
  padding-bottom: 16px;
}

.week-product__table {
  width: 100%;
}

.week-product__parameter,
.week-product__value {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid $middle-gray;
}

.week-product__value {
  padding-left: 18px;
}

.week-product__table-position {
  margin-bottom: 28px;
}

.week-product__image {
  margin-bottom: 16px;

  @media #{$min-width-tablet} {
    position: absolute;
    top: 120px;
    right: 50px;
  }

  @media #{$min-width-desktop} {
    top: 100px;
    right: 100px;
  }
}
.week-product__buy {
  width: 100%;
}
