.week-product{
  background-color: $white;
  padding: 30px;
}
.week-product__type{
  font-size: 25px;
  line-height: 30px;
  color: $black;
  font-weight: bold;
}
.week-product__title{
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  font-weight: bold;
  text-transform: uppercase;
}
.week-product__price{
  font-weight: bold;
}
