.wrapper{
  padding-left: 30px;
  padding-right: 30px;
}
/*
@media (min-width: 768px){
  .wrapper{
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1250px){
  .wrapper{
    padding-left: 100px;
    padding-right: 100px;
  }
}
*/
