$white: #ffffff;
$white--30: rgba(255, 255, 255, 0.3);
$white--90:  rgba(255, 255, 255, 0.9);
$black: #000000;
$black--10: rgba(0, 0, 0, 0.1);
$black--20: rgba(0, 0, 0, 0.2);
$black--25: rgba(0, 0, 0, 0.25);
$black--30: rgba(0, 0, 0, 0.3);
$black--60: rgba(0, 0, 0, 0.6);
$page-main: #f1f1f1;
$gray: #444444;
$gray--10: rgba(68, 68, 68, 0.1);
$gray--30: rgba(68, 68, 68, 0.3);
$light-gray: #f9f9f9;
$middle-gray: #e5e5e5;
$modal-border: #c7c7c7;
$aquamarine: #63d1bb;
$aquamarine--30: rgba(99, 209, 187, 0.3);
$aquamarine-dark: #46c1ae;
$aquamarine-dark-item: #56c3b2;
$aquamarine-darker--30: rgba(20, 144, 128, 0.3);
$aquamarine-darker--50: rgba(20, 144, 128, 0.5);
$aquamarine-darker--70: rgba(20, 144, 128, 0.7);
$aquamarine-darker: #149080;
$aqua-dark--30: rgba(70, 193, 174, 0.3);
$base-color: $gray;
$mobile-only: 320px;
$tablet: 768px;
$desktop: 1150px;
$min-width-tablet: "(min-width: #{$tablet})";
$min-width-desktop: "(min-width: #{$desktop})";
$mobile-width-only: "(max-width: #{$mobile-only})";
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
